* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: linear-gradient(to bottom right, #6DCAD0, #CC7070);
    min-height: 100vh;
}

h1 {
    letter-spacing: 0.00000000000000000000000000000000000000000001px;
    font-size: 10vw;
}

select {
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 7px;
    color: #AFAFAF;
    border-color: transparent;
    width: 50vw;
    height: 7vh;
}

.head {
    display: flex;
    justify-content: center;
    position: relative;
    top: 10vh;
    flex-flow: column;
    align-items: center;
    gap: 50px;
}

.select {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    top: 17vh;
    gap: 10px;
}

.text {
    font-size: 5vw;
}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 5vh;
}